<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="profile.css">

    <title>Modifier le nom d'utlisateur</title>
</head>

<body>
    {{> navbar}}

    <h1>Modifier le nom d'utlisateur</h1>

    <h2>_</h2>

    <div class="container">

        <div class="message" id="message">Oui oui</div>

        <form action="/change_username" method="post">

            <div class="grid">
                <label>Nouveau nom d'utilisateur</label>
                <input type="text" id="new_username" name="new_username" required>
            </div>

            <div class="grid">
                <label>Entrez votre mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit" value="Valider">Valider</button>


        </form>

    </div>



</body>