<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="profile.css">

    <title>Modifier l'email</title>
</head>

<body>
    {{> navbar}}

    <h1>Modifier l'email</h1>

    <div class="container">

        <form action="/change_email" method="POST">

            <div id="message_failed"></div>

            <div class="grid">
                <label>Nouveau email</label>
                <input type="email" id="new_email" name="new_email" required>
            </div>

            <div class="grid">
                <label>Confirmez nouveau email</label>
                <input type="email" id="confirm_new_email" name="confirm_new_email" required>
            </div>

            <div class="grid">
                <label>Entrez votre mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" value="Valider">Valider</button>


        </form>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const wrong_password = urlParams.get("wrong_password");
            const email_unavailable = urlParams.get("email_unavailable");
            const emails_not_match = urlParams.get("emails_not_match");

            if (wrong_password) {
                document.getElementById("message_failed").innerHTML = "Vote mot de passe est incorrect, veuillez réessayer.";
                document.getElementById("message_failed").style.display = "block";
            }
            if (email_unavailable) {
                document.getElementById("message_failed").innerHTML = "Ce mail est déjà associé à un compte, veuillez réessayer.";
                document.getElementById("message_failed").style.display = "block";
            }
            if (emails_not_match) {
                document.getElementById("message_failed").innerHTML = "Les mails ne sont pas identiques, veuillez réessayer.";
                document.getElementById("message_failed").style.display = "block";
            }
        });
    </script>


</body>