<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="profile.css">

    <title>Modifier le mot de passe</title>
</head>

<body>
    {{> navbar}}

    <h1>Modifier le mot de passe</h1>

    <div class="container">

        <form action="/change_password" method="POST">

            <div id="message_failed"></div>

            <div class="grid">
                <label>Ancien mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="grid">
                <label>Nouveau mot de passe</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>

            <div class="grid">
                <label>Confirmez nouveau mot de passe</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" required>
            </div>


            <button type="submit" value="Valider">Valider</button>


        </form>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const wrong_password = urlParams.get("wrong_password");
            const passwords_not_match = urlParams.get("passwords_not_match");

            if (wrong_password) {
                document.getElementById("message_failed").innerHTML = "Vote mot de passe est incorrect, veuillez réessayer.";
                document.getElementById("message_failed").style.display = "block";
            }
            if (passwords_not_match) {
                document.getElementById("message_failed").innerHTML = "Les mots de passes ne sont pas identiques, veuillez réessayer.";
                document.getElementById("message_failed").style.display = "block";
            }

        });
    </script>

</body>