<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="searchbar.css">

    <title>Votre espace</title>
</head>

<body class="body" >
    {{> navbar}}
    <div class="content-wrapper">

        <div class="top">

            <p id="instructions">AJOUTEZ UN FILM, UNE SÉRIE, UN ANIME OU UN ÉVÉNEMENT À VOTRE LISTE.</p>

            <div class="searchOption">
                <div class="left">
                    <p class="">PAR RECHERCHE</p>
                    <form class="searchbar" action="/search" method="GET" class="search" role="search">
                        <input id="search" name="query" type="search" placeholder="Search..." autofocus required />
                        <button type="submit" id="searchButton">Go</button>
                    </form>
                </div>

                <p>OU</p>

                <div class="right">
                    <p>MANUELLEMENT</p>
                    <button id="addButton">Ajouter</button>
                </div>
            </div>
        </div>

        <h2>MA LISTE :</h2>

        <div class="slider">

            {{#items}}
            <div class="slide">
                <div class="container">
                    <p data-release-date="{{date}}" id="ribbon"></p>
                    <div class="wrapper">

                        <div class="banner-image" style="background-image: url({{poster}});"> </div>
                        <br>
                        <p class="truncate">
                            {{title}}
                            <br>
                            <span>{{date}}</span>
                        </p>
                        <form action="/delete/{{id}}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/items}}
            {{^items}}
            <div class="slide">
                <p>Votre liste est vide </p>
            </div>
            {{/items}}
        </div>

        <div class="arrow">
            <img src="arrow.png" alt="Left arrow" id="arrow-left" width="32">
            <img src="arrow.png" alt="Right arrow" id="arrow-right" width="32">
        </div>

        <h2>Films à venir :</h2>
        <div class="slider">
            {{#upcomingMovies}}
            <div class="slide">
                <div class="container">
                    <p data-release-date="{{release_date}}" id="ribbon"></p>
                    <div class="wrapper">

                        <div class="banner-image" style="background-image: url(https://image.tmdb.org/t/p/w92{{poster_path}});"> </div>
                        <br>
                        <p class="truncate">
                            {{title}}{{name}}
                            <br>
                            <span>{{date}}{{first_air_date}}</span>
                        </p>
                        <form action="/delete/{{id}}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/upcomingMovies}}
            {{^upcomingMovies}}
            <div class="slide">
                <p>Pas de films à venir</p>
            </div>
            {{/upcomingMovies}}
        </div>

        <div class="arrow">
            <img src="arrow.png" alt="Left arrow" id="arrow-left" width="32">
            <img src="arrow.png" alt="Right arrow" id="arrow-right" width="32">
        </div>

        <!-- Recommendations Slider -->
        <h2>Recommandations :</h2>
        <div class="slider">
            {{#recommendations}}
            <div class="slide">
                <div class="container">
                    <p data-release-date="{{release_date}}" id="ribbon"></p>
                    <div class="wrapper">

                        <div class="banner-image" style="background-image: url(https://image.tmdb.org/t/p/w92{{poster_path}});"> </div>
                        <br>
                        <p class="truncate">
                            {{title}}{{name}}
                            <br>
                            <span>{{date}}{{first_air_date}}</span>
                        </p>
                        <form action="/delete/{{id}}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/recommendations}}
            {{^recommendations}}
            <div class="slide">
                <p>Pas de recommandations</p>
            </div>
            {{/recommendations}}
        </div>

        <div class="arrow">
            <img src="arrow.png" alt="Left arrow" id="arrow-left" width="32">
            <img src="arrow.png" alt="Right arrow" id="arrow-right" width="32">
        </div>


        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="modal-form" action="/add" method="post">

                    <input type="text" id="title" name="title" value="{{title}}{{name}}" placeholder="Titre" required>

                    <input type="date" id="date" name="date" value="{{release_date}}{{first_air_date}}"
                        placeholder="Date" required>

                    <input type="file" accept="image/*" id="poster" name="poster" placeholder="poster" required>

                    <select id="type" name="type" required>
                        <option value="Film">Film</option>
                        <option value="Série">Série</option>
                        <option value="Anime">Anime</option>
                        <option value="Événement">Événement</option>
                    </select>


                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
    {{> script}}
</body>

</html>