<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="searchbar.css">

    <title>Votre espace</title>
</head>

<body>
    {{> navbar}}
    <div class="content-wrapper">

        <div class="top">

            <p id="instructions">AJOUTEZ UN FILM, UNE SÉRIE, UN MANGA OU UN ÉVÉNEMENT À VOTRE LISTE.</p>

            <div class="searchOption">
                <div class="left">
                    <p class="">PAR RECHERCHE</p>
                    <form class="searchbar" action="/search" method="GET" class="search" role="search">
                        <input id="search" name="query" type="search" placeholder="Search..." autofocus required />
                        <button type="submit" id="searchButton">Go</button>
                    </form>
                </div>

                <p>OU</p>

                <div class="right">
                    <p>MANUELLEMENT</p>
                    <button id="addButton">Ajouter</button>
                </div>
            </div>
        </div>

        <h2>MA LISTE :</h2>
        <div class="slider">
            {{#items}}
            <div class="slide">
                <div class="container {{#type}}container-{{type}}{{/type}}">
                    <div class="wrapper">
                        <div class="banner-image" style="background-image: url({{poster}});"> </div>
                        <br>
                        <p class="truncate">
                            {{title}}
                            <br>
                            <span>{{date}}</span>
                        </p>
                        <form action="/delete/{{id}}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/items}}
            {{^items}}
            <div class="slide">
                <div class="container">
                    <div class="wrapper">
                        <div class="banner-image" style="background-image: url('oui.png');"> </div>
                        <br>
                        <p class="truncate">
                            Ajouter un nouvel element
                            <br>
                            <span>{{date}}</span>
                        </p>
                        <form action="/delete/{{id}}" method="post">
                            <button type="submit">Ajouter + </button>
                        </form>
                    </div>
                </div>
            </div>
            {{/items}}
        </div>
    </div>




    <!-- Fenêtre modale -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Modifier les informations</h2>
            <!-- Ajoutez votre formulaire de modification ici -->
            <form>
                <label for="title">Titre</label>
                <input type="text" id="title" name="title" placeholder="Titre">
                <!-- Ajoutez d'autres champs de formulaire si nécessaire -->
            </form>
        </div>
    </div>






    <script>
        // Récupérer les éléments
        const editButton = document.getElementById("addButton");
        const editModal = document.getElementById("editModal");
        const closeButton = document.querySelector(".close");

        // Ouvrir la fenêtre modale lors du clic sur le bouton Modifier
        editButton.onclick = function () {
            editModal.style.display = "block";
        };

        // Fermer la fenêtre modale lors du clic sur le bouton de fermeture (x)
        closeButton.onclick = function () {
            editModal.style.display = "none";
        };

        // Fermer la fenêtre modale lors du clic en dehors du contenu de la fenêtre modale
        window.onclick = function (event) {
            if (event.target == editModal) {
                editModal.style.display = "none";
            }
        };

        document.addEventListener('DOMContentLoaded', () => {
            const slider = document.querySelector('.slider');
            slider.addEventListener('wheel', (e) => {
                e.preventDefault();
                slider.scrollLeft += e.deltaY;
                slider.scrollLeft += e.deltaX;
            });
        });


        /*SEARCH BUTTON*/
        const searchInput = document.getElementById("search");
        const searchButton = document.getElementById("searchButton");

        searchInput.addEventListener("input", () => {
            if (searchInput.value) {
                searchButton.style.display = "block";
            } else {
                searchButton.style.display = "none";
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            const navLinks = document.querySelectorAll(".navbar a");
            const currentUrl = window.location.pathname;

            navLinks.forEach((link) => {
                if (link.getAttribute("href") === currentUrl) {
                    link.classList.add("active");
                }
            });
        });



    </script>
</body>

</html>