<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
</head>

<body>
    <h1>Modifier l'élément {{title}}</h1>

    <form action="/edit/{{id}}" method="post" enctype="multipart/form-data">
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" value="{{title}}" required>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required>
        <label for="date">Date de sortie/diffusion:</label>
        <input type="date" id="date" name="date" value="{{date}}" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description">{{description}}</textarea>
        <button type="submit">Enregistrer</button>
    </form>

    <form id="modal-form" action="/edit/{{id}}" method="post" enctype="multipart/form-data">
                        
        <input type="hidden" id="tmdb_id" name="tmdb_id" value="{{id}}">

        <label for="title">Titre :</label>
        <input type="text" id="title" name="title" value="{{title}}" required>

        <label for="date">Date :</label>
        <input type="text" id="date" name="date" value="{{date}}" required>

        <label for="poster">Affiche :</label>
        <input type="text" id="poster" name="poster"
            value="https://image.tmdb.org/t/p/original{{poster_path}}" required>

        <label for="type">Type :</label>
        <select id="type" name="type" aria-valuetext="{{type}}" required>
            <option value="films">Films</option>
            <option value="series">Séries</option>
            <option value="manga">Manga</option>
            <option value="evenement">Événement</option>
        </select>


        <button type="submit">Envoyer</button>
    </form>

    <a href="/dashboard">Retour au tableau de bord</a>
</body>

</html>