<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Planifix</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="top">
        <p>WELCOME</p>
        <p>TO</p>
        <img src="logo.png" alt="Logo" id="logo">
        <div class="buttons">
            <a href="/login"><button class="button-19" role="button">Se connecter</button></a>

            <a href="/new_user"><button class="button-19" role="button">S'inscrire</button></a>
            
        </div>
    </div>
    <hr>
    <hr>
    <div class="bot">
        <div class="description">
            <p><strong>Qu'est-ce que Planifix ?</strong>
                <br>
                Planifix est un site web permettant d’enregistrer les films, séries, animes ou événements que l’on compte regarder/assister lorsque la date de sortie arrivera. Profitez de notre base de données riche et constamment mise à jour pour trouver les informations les plus précises sur vos contenus préférés.</p>
        </div>
        <div class="images">
            <img src="nightagentposter.jpg" width="100" alt="">
            <img src="jhonwickposter.jpg" width="100" alt="">
            <img src="avatarposter.jpg" width="100" alt="">
        </div>
    </div>
</body>
</html>