<nav class="navbar">
    <ul>
        <li><a href="/user_space"><img src="utilisateur.png" alt="utilisateur" width="32px"></a></li>
        <li><a href="/movies">FILMS</a></li>
        <li><a href="show">SÉRIES</a></li>
        <li><a href="/dashboard"><img src="logo.png" alt="Logo" width="100px"></a></li>
        <li><a href="/anime">ANIMES</a></li>
        <li><a href="/event">ÉVÉNEMENTS</a></li>
        <li><a href="/logout"><img src="power-off.png" alt="deconnexion" width="32px"></a></li>
    </ul>
</nav>