<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="new_user.css">
    <title>S'inscrire</title>
</head>

<body>
    <a href="/"> <img src="logo.png" alt="Logo"> </a>
    
    <div class="container">
        
        <form action="/new_user" method="POST">
            <h3>Inscription</h3>
            <br>
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur " required>
    
            <input type="email" id="email" name="email" placeholder="Email" required>
    
            <input type="password" id="password" name="password" placeholder="Mot de passe " required>
            <br>
    
            <a href="/login"> Vous avez deja un compte ? </a>
            
            <button type="submit" value="S'inscrire">S'inscrire</button>
        </form>
    </div>
    
</body>
</html>