<!DOCTYPE html>
<html lang="fr">

<head>
    <meta
     charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="read.css">
    <link rel="stylesheet" href="navbar.css">
    <title>Document</title>
</head>

<body>
    {{> navbar}}
    <h1> Détails du film </h1>
    <div class="container">
        <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="Affiche du film">
        <div class="description">
            <ul>
                <li class="title">Titre :</li>
                <li class="data">{{movie.title}}{{movie.name}}</li>
                <li class="title">Année :</li>
                <li class="data">{{movie.release_date}}</li>
                <li class="title">Résumé de l'histoire :</li>
                <li class="data">{{movie.overview}}</li>
                <li class="title">Type :</li>
                <li class="data">{{movie.next_episode_to_air.name}}</li>
            </ul>
        </div>
    </div>
</body>

</html>