<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="user_space.css">

    <title>Informations personnelles</title>
</head>

<body>

    {{> navbar}}

    <h1>Informations personnelles</h1>

    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td class="left">Nom d'utilisateur</td>
                    <td class="right">{{username}}</td>
                    <td><a href="/change_username"><img src="edit_button.png" alt= "Button change" width="35px"></a></td>
                </tr>
                <tr>
                    <td class="left">Email</td>
                    <td class="right">{{email}}</td>
                    <td><a href="/change_email"><img src="edit_button.png" alt= "Button change" width="35px"></a></td>
                </tr>
                <tr>
                    <td class="left">Mot de passe</td>
                    <td class="right">*******</td>
                    <td><a href="/change_password"><img src="edit_button.png" alt= "Button change" width="35px"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

       




</body>

</html>