<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="user_space.css">

    <title>Paramètres de profil</title>
</head>

<body>
    <div class="content-wrapper">

        <h2>PARAMÉTRES DE PROFIL</h2>


        <div class="container">

            <form action="" method="'post">
                <div class="formgroup">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" id="username" value="{{username}}">
                </div>
                <div class="formgroup">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="{{email}}">
                </div>
                <div class="formgroup">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" value="{{password}}">
                </div>
            </form>


            <a href="/dashboard"><button id="returnButton">Retour</button></a>

        </div>



    </div>




















    {{> navbar}}



    
    <script src="script.js"></script>
</body>

</html>