* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: #004C4C;
}
.sticky {
    background: #000000;
    transition: .5s;
}