@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: #004C4C;
}

/* Style de base de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenu de la fenêtre modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Bouton de fermeture de la fenêtre modale */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 50px;
    font-family: 'Righteous', sans-serif;
    text-align: left;
    margin-left: 10px;
    color: #ffffff;
    align-self: flex-start;
}



.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.523);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper p {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
}

.wrapper p span {
    font-size: smaller;
}

.banner-image {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.slider {
    margin-top: 20px;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 20px;
    /*background-color: rgba(255, 0, 0, 0.062);*/

}

.slide {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    white-space: normal;
    margin: 10px;
}

.truncate {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    width: 100%;
    /* Vous pouvez ajuster cette valeur en fonction de la largeur souhaitée */
    max-width: 200px;
    /* Vous pouvez ajuster cette valeur en fonction de la largeur maximale souhaitée */
}

.top {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80vw;
    background: rgba(255, 255, 255, 0.056);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.top p{
    color: #ffffff;
    font-weight: bold;
}

.searchOption{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.searchOption p{
    color: #ffffff;
}

#instructions{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.right,
.left {
    --b: .3em;
    --c: 2em;
    --r: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 1em;
    max-width: 23em;
}

.right::before,
.left::before {
    position: absolute;
    z-index: -1;
    inset: calc(-1*var(--b));
    border: inherit;
    border-radius: var(--r);
    background: linear-gradient(rgb(0, 255, 98), rgb(0, 76, 76), rgb(128, 128, 0)) border-box;
    --corner:
        conic-gradient(from -90deg at var(--c) var(--c), rgb(0, 255, 145) 25%, #ffffff00 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
    --inner: conic-gradient(rgb(0, 255, 145) 0 0) padding-box;
    -webkit-mask: var(--corner), var(--inner);
    -webkit-mask-composite: source-out;
    mask: var(--corner) subtract, var(--inner);
    content: ''
}

.right button {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 9px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    transition: .5s;
}

.right button:hover{
    background-color: #57bd84;
    transition: .5s;
}

.sticky{
    background: #000000;
}

.slider {
    position: relative;
}

.arrow-left,
.arrow-right {
    position: fixed;
    z-index: 2;
    width: 32px;
    cursor: pointer;
}

.arrow-left {
    top: calc(50% - 20px); /* Centrer verticalement */
    left: 10px;
    rotate: 180deg;
}

.arrow-right {
    top: calc(50% - 20px); /* Centrer verticalement */
    right: 10px;
}
