/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff0c;
    z-index: 1;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: .5px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.navbar li a:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #007c7c;
    transition: .5s;
    left: 50%; /* Change this line */
    transform: translateX(-50%); /* Add this line */
    bottom: -10px;
}


.navbar li a:hover:before {
    width: 100%;
    left: 0; /* Add this line */
    transform: translateX(0); /* Add this line */
}

/* navbar.css */
.navbar li a.active:before {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.sticky{
    background: #000000;
}

