/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff0c;
    z-index: 1;
    padding: 10px 0;
    min-height: 40px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: .5px;
    cursor: pointer;
    font-weight: bold;
}

.navbar li a:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #007c7c;
    transition: .5s;
    left: 50%;
    /* Change this line */
    transform: translateX(-50%);
    /* Add this line */
    bottom: -10px;
}


.navbar li a:hover:before {
    width: 100%;
    left: 0;
    /* Add this line */
    transform: translateX(0);
    /* Add this line */
}

/* navbar.css */
.navbar li a.active:before {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.navbar.sticky {
    background: #000000;
    transition: all .3s;
}

img {
    border: none;
}

.navbar-toggle {
    display: none;
}

/* navbar.css */
.navbar-toggle-label {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px; /* ajustez cette valeur pour modifier l'espace entre l'image et le bord droit */
    transform: translateY(-50%);
}


/* navbar.css */
.navbar-toggle:checked~ul {
    display: flex;
}

/* Pour les petits écrans et les téléphones mobiles */
@media screen and (max-width: 480px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li a {
        font-size: 14px;
        padding: 8px 0;
    }

    .navbar li a:before {
        bottom: -6px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-toggle-label {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #004C4C;
        left: auto;
        right: 0;
    }

    .navbar li {
        text-align: center;
        padding: 12px 0;
    }

    .navbar li a {
        display: block;
        padding: 10px 0;
    }
}