* {
    margin: 0;
    left: 0;
    top: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

h1,h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}

body {
    margin-top: 80px;
    background-color: #004C4C;
}

#poster {
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
    margin: 20px;
    width: 20vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    margin-bottom: 50px;
    margin-top: 20px
    
}

.description{
    margin-top: 8px;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
}

.title,
.data{
    margin-bottom: 10px;
}

.title{
    font-size: 14px;
    color: #000000;
}
.data{
    color:#FFFFFF;
    font-size: 22px;
}

.providers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}

.providers li{
    margin-top: 20px;
    margin-right:40px ;
}

.sticky {
    background: #000000;
    transition: .5s;
}

/* Media Query pour les tablettes */
@media screen and (max-width: 768px) {
    .description {
        width: 90%;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    #poster {
        width: 80vw;
    }
    
}

/* Media Query pour les mobiles */
@media screen and (max-width: 425px) {
    h1 {
        margin-top: 30px;
        font-size: 24px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #poster {
        width: 80vw;
    }

    .description {
        margin-top: 16px;
        margin-left: 0;
        width: 80vw;
    }

    .title {
        font-size: 12px;
    }

    .data {
        font-size: 18px;
    }
}
