* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 80px;
    background-color: #004C4C;
}

h1 {
    text-align: center;
    margin-top: 90px;
    color: #ffffff;
    font-weight: 900;
}


.resultat img {
    width: 100px;
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
    margin: 10px 0px 10px 10vw ;
    
}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultat{
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    transition: all ease-in-out .2s;
    position: relative;
}

.title {
    font-size: 1.6em;
    font-weight: 900;
    color: #ffffff;
}

.resultat button{
    margin-right: 10vw;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemInfo p{
    color: antiquewhite;
}

.resultat:hover{
    background-color: rgba(255, 255, 255, 0.1);
    width: 91vw;
}

.sticky {
    background: #000000;
    transition: .5s;
}


